
.body {margin: auto;
       position: relative;
       justify-content: center;
       background: #06071B;}



/* Header */

.header {position: sticky;
         top: 0;
         z-index: 3;
         margin-top: 20px;
         background: linear-gradient(90.03deg, rgba(0, 197, 235, 0.3) -1.97%, rgba(181, 68, 254, 0.3) 89.43%);}

.logo {font-family: 'Inter';
       font-style: normal;
       font-weight: 400;
       font-size: 28px;
       line-height: 34px;
       color: #FFFFFF;
       text-decoration: none;}

.conteiner {width: 280px;
            padding-left: 20px;
            padding-right: 20px;
            display: flex;
            justify-items: center;
            align-items: center;
            justify-content: space-between;}

.mobile-menu-open_icon {stroke: #FFFFFF;}

.mobile-close-win {background-color:transparent;}

.mobile-cross {stroke:currentColor;}

.mobile-menu-open {background-color:transparent;
                   border: none;
                   padding: 24px 0;}

.mobile-menu {position: fixed;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              z-index: 100;
              padding-left: 20px;
              padding-right: 20px;
              margin-left: auto;
              margin-right: auto;
              background: linear-gradient(360deg, #42c9e4 , #170424 );
              background-color:  #07081C;

              opacity: 0;
              visibility: hidden;
              pointer-events: none;
              transition: opacity 500ms linear, visibility 500ms linear;} 
              
.mob-head {margin-top: 34px;}

.logo.mobile {margin-right: 109px;}
             
.mobile-menu.is-open {opacity: 1;
                      visibility: visible;
                      pointer-events: auto;}         

.mobile-menu_conteiner{position: relative;
                       padding-top: 80px;}    

.mobile-items {font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.2;
    list-style: none;
    align-items: center;
    text-align: center;
padding-left: 0;    
padding-right: 0;}
   
    .mobile-item {margin-left: auto;
        margin-right: auto;
        margin-bottom: 36px;}    

.mobile-link {text-decoration: none;
              color: #FFFFFF;}   
              
.mobile-link:hover, .mobile-link:focus {color:  #B544FE;}              


/* Hero */

.conteiner.hero {display: block;
                }  

.hero {background-image: url(../images/iPhone\ X\ Flying\ Mockup\ Left\ View\ label.png);
    background-repeat: no-repeat;
    opacity: 0.5;
    width: 395px;
    height: 430px;
padding-bottom: 14px;}
.hero-head {font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
        color: #FFFFFF;}

        .hero-par {font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            
            color: #FFFFFF;}

 .hero-item {font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
        color: #FFFFFF;
        list-style: none;}    


        /* Features */

 .features{background-color: #fff;}       
   .conteiner.features {display: block;}


   /* Video */

   .conteiner.video {display: block;}

   .video-head {font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #FFFFFF;}

 .video-par {font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF;}  
    
    .video-soc {display: flex;}


    /* team */

    .team {display: block;}
    .conteiner.team {display: block;}
    .our.team {background-color: #fff;}

    /* customers */

    .customers {background-color: #fff;
    display: block;}

    /* form */

    /* footer */

.social {display: flex;}   